body
{
	background-color: #005080;;
	color: #fffffe;
}
/* side Navbar */
.csidebar
{
		background-color: #01041b;
		padding: 12px;
		display: block;
		position: fixed;
		height: 100%;
		text-align: center;
		width: 50px;
}
/* body bg */
.cont
{
	background-color: lightblue;
	height: 100%;
	width: 100%;
}
/* LOGO */
.csidebar img
{
	border-radius: 100px;
	display: block;
}
nav span
{
	display: block;
	float: left;
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;

}
nav .nav-center
{
	margin-left: 20%;
}
nav
{
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	padding: 5px;
}
nav h1
{
	font-family: "Times new Roman", Times, serif;
}
/* manage-btn class*/
.manage-btn
{

	position: fixed;
	top: 55%;
	left: 53%;
	transform: translate(-50%,-50%);
  margin-left: 30px;
}
.manage-btn button
{

	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	height: 120px;
	width: 234px;
	padding: 0 20px 0 20px;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 10px;
	background: #70ad47;
	outline: none;
	border: none;
}
/* photo-edit */
.photo-edit
{
	position: fixed;
	top: 40%;
	left: 18%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;

}
.photo-edit a
{
	color:#ffffff;
	font-weight:bold;
	text-decoration: none;
}
.photo-edit a:hover
{
	  color:#ffffff;
	  font-weight:bold;
	  text-decoration: none;
}
/* student-name */
.std-name
{
	font-weight: bold;
	font-size: 40px;
	position: fixed;
	top: 30%;
	left: 35%;
	transform: translate(-50%,-50%);
	background: #026bb8;
	padding: 20px;
	border-radius: 10px;
}
/* avatar photo */
.avatar
{
	position: fixed;
	top: 30%;
	left: 18%;
	transform: translate(-50%,-50%);
}
.avatar img
{
	border-radius: 100px;
	width: 100px;
	height: 100px;
}
/* back btn */
.back-css
{
	position: fixed;
	top: 15%;
	left: 15%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
}
.back-css a
{
	font-size: 18px;
	font-family: Arial;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 5px;
	background: #70ad47;
	outline: none;
	border: none;
	font-weight: bold;
}
/*  upd-input student css  */
.upd-student {
	position:absolute;
  top:0;left:0;right:0;bottom:0;
  align-items: center;
  justify-content:center;
	position: fixed;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	 margin-left: 18px;
}

.upd-student input
{
	background: #222a35;
	margin-right: 295px;
	float:right;
	border-radius: 5px;
	color: #ffffff;
  margin-top: 8px;
	border: none;
	font-size: 24px;
	width: auto;
	padding: 3px;

}
.upd-student label
{
	border-radius: 5px;
	color: #ffffff;
  margin-top: 8px;
	border: none;
	font-size: 24px;
	width: auto;
	padding: 3px;
}
.upd-student-2
{
	position:absolute;
  top:0;left:0;right:0;bottom:0;
  align-items: center;
  justify-content:center;
	position: fixed;
	top: 65.3%;
	left: 70%;
	transform: translate(-50%,-50%);
	 margin-left: 30px;
}
.upd-student-2 input
{
	background: #222a35;
	color: #ffffff;
	margin-top: 8px;
	margin-right: 100px;
	float:right;
	border-radius: 5px;
	border: none;
	font-size: 24px;
	padding: 3px;
}
.upd-student-2 label
{
	border-radius: 5px;
	color: #ffffff;
  margin-top: 8px;
	border: none;
	font-size: 24px;
	width: auto;
	padding: 3px;
}
/*  upd button */
.upd-btn
{
	position: fixed;
	top: 90%;
	left: 56%;
	transform: translate(-50%,-50%);
	font-family: Arial;
	font-weight: bold;
	height: 40px;
	width: 110px;
}
.upd-btn button
{
	background: #70ad47;
	font-weight: bold;
}
.year-menu
{
	margin-top: 15%;
}
.year-menu h1,li
{
	list-style: none;
	font-size: 70px;
}
.year-menu ul li a
{
text-decoration: none;
list-style: none;
font-size: 30px;
margin-top: 20px;
margin-left: 10px;
font-weight: bold;
width: 200px;
}

.year-menu ul li button
{
text-decoration: none;
list-style: none;
font-size: 30px;
margin-top: 20px;
margin-left: 10px;
font-weight: bold;
width: 300px;
}