body
{
	background-color: #005080;;
	color: #fffffe;
}
/* side Navbar */
.csidebar
{
		background-color: #01041b;
		padding: 12px;
		display: block;
		position: fixed;
		height: 100%;
		text-align: center;
		width: 50px;
}
/* body bg */
.cont
{
	background-color: lightblue;
	height: 100%;
	width: 100%;
}
/* LOGO */
.csidebar img
{
	border-radius: 100px;
	display: block;
}
nav span
{
	display: block;
	float: left;
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;

}
nav .nav-center
{
	margin-left: 20%;
}
nav
{
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	padding: 5px;
}
nav h1
{
	font-family: "Times new Roman", Times, serif;
}
/* manage-btn class*/
.manage-btn
{

	position: fixed;
	top: 55%;
	left: 53%;
	transform: translate(-50%,-50%);
  margin-left: 30px;
}
.manage-btn button
{

	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	height: 120px;
	width: 234px;
	padding: 0 20px 0 20px;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 10px;
	background: #70ad47;
	outline: none;
	border: none;
}
/* photo-edit */
.photo-edit
{
	position: fixed;
	top: 40%;
	left: 18%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;

}
.photo-edit a
{
	color:#ffffff;
	font-weight:bold;
	text-decoration: none;
}
.photo-edit a:hover
{
	  color:#ffffff;
	  font-weight:bold;
	  text-decoration: none;
}
/* student-name */
.std-name
{
	font-weight: bold;
	font-size: 40px;
	position: fixed;
	top: 30%;
	left: 35%;
	transform: translate(-50%,-50%);
	background: #026bb8;
	padding: 20px;
	border-radius: 10px;
}
/* avatar photo */
.avatar
{
	position: fixed;
	top: 30%;
	left: 18%;
	transform: translate(-50%,-50%);
}
.avatar img
{
	border-radius: 100px;
	width: 100px;
	height: 100px;
}
/* back btn */
.back-css
{
	position: fixed;
	top: 15%;
	left: 15%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
}
.back-css a
{
	font-size: 18px;
	font-family: Arial;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 5px;
	background: #70ad47;
	outline: none;
	border: none;
	font-weight: bold;
}
/*  upd-input student css  */
.upd-student {
	position: fixed;
	top: 57%;
	left: 43%;
	transform: translate(-50%,-50%);
	color: #ffffff;
	margin-left: 30px;
	text-align: right;
}

.upd-student input
{
  height: 30px;
  width: 220px;
    color: #ffffff;
    text-indent: 12px;
	background: #222a35;
	margin-right: 200px;
	border-radius: 5px;
	border: none;
  float:right;

}
.upd-student label
{

	font-family: Arial;
	font-weight: bold;
	margin-bottom: 20px;
}
.upd-student-2
{
	position: fixed;
	top: 53%;
	left: 68%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
	text-align: right;
}
.upd-student-2 input
{
  height: 30px;
  width: 220px;
  color: #ffffff;
  text-indent: 12px;
  	background: #222a35;
	margin-right: 50px;
	float:right;
	border-radius: 5px;
	border: none;
}
.upd-student-2 label
{
	font-weight: bold;
	font-family: Arial;
	margin-bottom: 20px;
}
/*  upd button */
.upd-btn
{
	position: fixed;
	top: 95%;
	left: 56%;
	transform: translate(-50%,-50%);
	font-family: Arial;
	font-weight: bold;
	height: 40px;
	width: 110px;
}
.upd-btn button
{
	background: #70ad47;
	font-weight: bold;
}
.year-menu, .cluster-title
{
	margin-top: 15%;
}
.cluster-title h1
{
	font-size: 70px;
}

.cluster-title .cluster-menu
{
	font-size: 40px;
	margin-top: 15%;
	margin-left: 10%;
	padding-left: 20px;
	padding-right: 20px;
	width: 900px;
	text-align: center;
}
.cluster-title .cluster-menu a
{
	margin-left: 10%;
	margin-top: 3%;
width: 100px;
}
.year-menu h1,li
{
	list-style: none;
	font-size: 70px;
}
.year-menu ul li a
{
text-decoration: none;
list-style: none;
font-size: 30px;
margin-top: 20px;
margin-left: 10px;
font-weight: bold;
width: 200px;
}

.year-menu ul li button
{
text-decoration: none;
list-style: none;
font-size: 30px;
margin-top: 20px;
margin-left: 10px;
font-weight: bold;
width: 300px;
}
/* manage-student-request-css */
.std-title
{
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
}
.std-request-1
{
	position: fixed;
	top: 55%;
	left: 45%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
}
.std-request-1 button
{
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	height: 85px;
	width: 400px;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 10px;
	background: #70ad47;
	outline: none;
	border: none;
}
.std-request-2
{
	position: fixed;
	top: 70%;
	left: 41.5%;
	transform: translate(-50%,-50%);
	margin-left: 30px;
}
.std-request-2 button
{
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	height: 85px;
	width: 400px;
	color: #ffffff;
	margin-left: 20px;
	border-radius: 10px;
	background: #70ad47;
	outline: none;
	border: none;
<<<<<<< HEAD
}

.comment {
	position: absolute;
	top: 200px;
	left: 400px;
 	width: 900px;
 	height: 350px;
 	padding: 12px 20px;
 	box-sizing: border-box;
 	border: 2px solid #ccc;
 	border-radius: 4px;
 	background-color: #f8f8f8;
 	font-size: 16px;
 	resize: none;
}

.submit-message {
	position: absolute;
	top: 570px;
	left: 800px;
 	background-color: #4CAF50;
 	border: none;
 	color: white;
 	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
 	margin: 4px 2px;
 	cursor: pointer;
 	border-radius: 8px;
}

.submit-message1 {
	position: absolute;
	top: 480px;
	left: 650px;
}


.input {
	position: absolute;
	top: 200px;
	width: 350px;
	left: 500px;
	padding: 12px 20px;
	margin: 8px 0;
	background-color: #303031;
 	color: white;
 	border: none;
 	border-radius: 8px;

}

.input1 {
	position: absolute;
	top: 260px;
}

.input2 {
	position: absolute;
	top: 320px;
}

.input3 {
	position: absolute;
	top: 380px;
}

.label {
	position: absolute;
	top: 215px;
	left: 250px;
}

.label1 {
	position: absolute;
	top: 275px;
	left: 210px;
}

.label2 {
	position: absolute;
	top: 335px;
	left: 385px;
}

.label3 {
	position: absolute;
	top: 395px;
	left: 385px;
}
